.User {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    background: #fff;
}

.User .user-banner {
    width: 100vw;
    height: 25vh;
    background-repeat: no-repeat !important;
    background-origin: border-box;
    background-size: 100% !important;
    position: relative;
}

.User .user-banner img {
    width: 100vw;
}

.User .user-info-box {
    width: 30vw;
    height: 12vh;
    position: absolute;
    left: 3vw;
    bottom: 0;
}

.User .user-info {
    width: 22vw;
    height: 12vh;
    display: inline-block;
    position: relative;
}

.User .user-info .pic {}

.User .user-info .avatar {
    width: 100%;
    border-radius: 50%;
    border: 1px solid transparent;
}

.User .user-info .bigVip {
    position: absolute;
    right: 0;
    top: 70%;
    width: 5vw;
}

.User .user-info-box .vip {
    position: absolute;
    right: -3vw;
    bottom: 1.5vw;
}

.User .user-info-box .vip span {
    background: #fb7299;
    color: #fff;
    font-size: 2.5vw;
    padding: 0 1vw;
}

.User .upinfo {
    background: #fff;
    min-height: 20vh;
    margin-top: 1vh;
}

.User .upinfo .upname {
    font-size: 5vw;
    margin-left: 5vw;
}

.User .upinfo .sex {
    display: inline-block;
    margin: 1vw 0 0 3vw;
    width: 5vw;
    height: 5vw;
    position: relative;
}

.User .upinfo .sex svg {
    position: absolute;
    bottom: -10%;
}

.User .upinfo .level {
    margin-right: 2vw;
}

.User .upinfo .uid {
    font-size: 4vw;
    font-weight: 100;
}

.User.upinfo .top {
    min-height: 5vh;
}

.User .upinfo .mid {
    font-size: 4vw;
    margin-left: 5vw;
    line-height: 7vw;
    min-height: 3vh;
    color: #212121;
}

.User .upinfo .mid .particle {
    color: #999;
    font-style: normal;
    margin: 0 3vw 0 0;
}

.User .upinfo .bottom .abstract {
    margin: 1vw 5vw 0 5vw;
    font-size: 4vw;
    color: #666;
    padding-bottom: 2vw;
}

.User .footer {
    width: 100vw;
    min-height: 3vh;
    background: #fff;
}