.Swiper {
    margin: 3vw;
    border: 1px solid #eee;
    border-radius: 3vw;
    overflow: hidden;
}

.Swiper .swiperbox {
    width: 100%;
    height: 20vh;
}

.Swiper .swiperbox .swiper-img {
    width: 100%;
    height: 20vh;
}